	
/*...................................................................................*/
/*@media
/*...................................................................................*/

/*...................................................................................*/
/*
/*....
/* Screen larger than 600px? 2 column */

@media screen and (max-width: 780px) {
	.copyright  {
		
		border: .5px solid #f00;
		display: none
	}
/*...................................................................................*/
/*..............................................
/*..................................................
/* Menu */
	
	.block_menu {
		height: 700px
	}
	.menu_title {
		height: 15%;
	}
	
	.block_header {
		height: 750px;
	}

	
	.container_menu,  
	 .contact
	
 {
		width: 100%;
		height: 100%;
		flex-flow: column;
		justify-content: space-around;
		overflow-y: scroll;

	}
	
	
	.menu {
		flex-flow: column;
	}
	.cols {
		width: 50%;
	}
	
	.header_logo {
		width: 100%;
		height: 20%;
	}
	.container_menu {
		width: 100%;
		height: 35%;
	}
	.menu_col {
		width: 100%;
	}
	#div_lien {
		width: 50%;

	}
	.cols > a{
		font-size: 1.5em;
	}
	
	.txtCenter {
	
	font-size: 9vw;

	
	
	
}
	.line{
		margin-top: 0%;
	}
/*...................................................................................*/
/*..............................................
/*..................................................
/* About */
	.biogaz {
		flex-flow: column;
	}
	.biogazParag, .biogazImage{
		width: 100%;
		height: 50%;
	}
/*...................................................................................*/
/*..............................................
/*..................................................
/* Technologies */
	.technologiesBloc {
		
		height: 300em;
	}
	.container_technologies_img {
		
		width: 100%;
		height: 33%;
		flex-flow: column;
		justify-content: space-around;
	}
	.technologiesOne, .technologiesTwo,
	.technologiesThree{
		
		width: 95%;
		height: 30%;
}
/*a revoir */
	.technologiesBloc {
		/*border: 3px solid #000;*/
		width: 100%;
		height: 210em;
		
	}

	.Bloc_technologies_img {
		width: 100%;
		height: 99%;
		flex-flow: column;
	}
	.biogazTwo {
		
		width: 100%;
	
		flex-flow: column;
	}
	.biogazImageTwo {
		
		width: 100%;
		height: 50%;
		
	}
/*...................................................................................*/
/*..............................................
/*..................................................
/* Prestations */
	.block_prestations {
		
		height: 160em;


	}
	.nosPrestations{
		flex-flow: column;
		height: 100%;
		width: 100%;
		justify-content: center;

	}
	.diagnostic, .aps, .apd, .assistance{
		width: 100%;
		height: 25%;
		justify-content: space-around;
	}
	
	.icons {
		width: 100%;
		height: 40%;
	}
	.titles {
		width: 70%;
		height: 30%;
	}
	.parag {
		width: 100%;
		height: 40%;
	}
/*...................................................................................*/
/*..............................................
/*..................................................
/* Contact */
	.bloc_contact {
	
		height: 90em;
	
	}
	.containerContactform{
	
		
		flex-flow: column;
	}
	.continerForm{
		
		width: 90%;
		height: 75%;
		
	}
	.adress{
		
		width: 90%;
		height: 30%;
	}
	.modal-content {
	
	  width: 80%;
	  height: 85%;
	  
}
	footer {
		
	  

	}
	
}
/* Screen larger than 900px? 3 columns */


